
<app-side-menu></app-side-menu>
<ion-app>
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-menu-button disabled="false"></ion-menu-button>
      </ion-buttons>
    <ion-title>menu-content</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-margin ion-no-padding">
    <ion-row >
      <ion-col  >
          <app-header id="home"></app-header>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col>
          <app-about id="about"></app-about>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col>
        <app-portfolio id="pottfolio"></app-portfolio>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col>
        <app-our-services id="services"></app-our-services>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col>
        <app-resume id="resume"></app-resume>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col>
        <app-clients id="clients"></app-clients>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col>
        <app-blog id="blog"></app-blog>
      </ion-col>
    </ion-row>
    <ion-row class="ion-padding">
      <ion-col>
        <app-contact-me id="contact"></app-contact-me>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding ">
      <ion-col >
        <app-footer></app-footer>
      </ion-col>
    </ion-row>

  </ion-grid>
  </ion-content>
</ion-app>

